<div class="container">
  <div class="row justify-content-center">
    <div class="col-8">
      <h1>Arm <%= @dinosaur.name %></h1>
      <%= simple_form_for [@dinosaur, @pocket] do |f| %>
        <%= f.association :weapon, collection: @weapons, include_blank: false, include_hidden: false, input_html: { multiple: true, class: 'select2' } %>
        <%= f.submit class: 'btn btn-danger' %>
      <% end %>
    </div>
  </div>
</div>